body {
    background-color: lightcoral;
    font-family: "Courier New", monospace;
}

form {
    margin: 100px auto;
    width: 300px;
    padding: 20px;
    background-color: #fff3f3;
    border: 2px dashed darkred;
    border-radius: 8px;
    text-align: center;
}
